<header class="header">

    <a [routerLink]="[ '/' ]" class="logo">
        <picture>
            <source class="logo__img" media="(max-width: 768px)" 
                srcset="../../../assets/images/logo-mobile.svg">
            <img src="../../../assets/images/logo.svg" alt="Логотип" class="logo__img">
        </picture>
    </a>
    
    <div *ngIf="!screenIs1200">
        <app-nav></app-nav>
    </div>

    <div class="burger" (clickOutside)="burgerIsOpen = false">
        <button class="burger__btn" 
            [ngClass]="{'border': !burgerIsOpen}" 
            (click)="toggleBurgerMenu()">
            <svg class="burger__svg" width="32" height="32">
                <use href="../../../assets/images/sprite.svg#menu" 
                    *ngIf="!burgerIsOpen"></use>
                <use href="../../../assets/images/sprite.svg#cross" 
                    *ngIf="burgerIsOpen"></use>
            </svg>
        </button>
        <div class="burger__menu text-bold" 
            *ngIf="!screenIs1200"
            [ngClass]="{'show-menu': burgerIsOpen}">
            <a [routerLink]="[ '/delivery' ]" 
                class="burger__link" 
                (click)="closeBurgerMenu()">Доставка та оплата</a>
            <a [routerLink]="[ '/about' ]" 
                class="burger__link" 
                (click)="closeBurgerMenu()">Про нас</a>
            <a [routerLink]="[ '/discount' ]" 
                class="burger__link" 
                (click)="closeBurgerMenu()">Акції</a>
        </div>
    </div>

    <div class="mobile text-bold" 
        *ngIf="screenIs1200 && burgerIsOpen">
        <a [routerLink]="[ '/product/sauses' ]" 
            class="mobile__link mobile__link_sauses">
            <img src="../../../assets/images/nav-img-sauses.svg" alt="Соуси">
            <span>Соуси</span>
        </a>
        <a [routerLink]="[ '/delivery' ]" 
            class="mobile__link" 
            (click)="closeBurgerMenu()">
            Доставка та оплата</a>
        <a [routerLink]="[ '/about' ]" 
            class="mobile__link" 
            (click)="closeBurgerMenu()">
            Про нас</a>
        <a [routerLink]="[ '/discount' ]" 
            class="mobile__link" 
            (click)="closeBurgerMenu()">
            Акції</a>
        <span class="mobile__tel text-bold">(097) 878 08 37</span>
        <div class="mobile__callback callback-m" *ngIf="screenIs1200">
            <button class="callback-m__btn btn btn-blue" 
                (click)="openCallDialog()">
                <img src="../../../assets/images/phone.svg" alt="Callback">
                <span>Ми зателефонуємо</span>
            </button>
        </div>
    </div>

    <div class="callback" 
        *ngIf="!screenIs1200">
        <button class="callback__btn btn btn-blue" 
            (click)="openCallDialog()">
            <img src="../../../assets/images/phone.svg" alt="Callback">
                <span class="callback__span">Ми зателефонуємо</span>
        </button>
    </div>

    <div class="info">
        <a href="tel:0978780837" class="info__link">
            <span class="info__tel link-hover text-bold">(097) 878 08 37</span>
            <img src="../../../assets/images/phone.svg" alt="Call" 
                class="info__img">
        </a>
        <p class="info__work text-normal">Працюємо з <b>11:00</b> до <b>22:30</b></p>
    </div>

    <div class="user border">
        <button *ngIf="!loginUrl" 
            (click)="openLoginDialog()" class="user__btn">
            <img src="../../../assets/images/user.svg" [alt]="loginUrl">
        </button>
        <a *ngIf="loginUrl" 
            [routerLink]="[ '/'+loginUrl ]" class="user__btn">
            <img src="../../../assets/images/user.svg" alt="User" 
                [title]="loginUrl">
        </a>
    </div>

    <button class="basket" 
        (click)="toggleBasket()">
        <span class="basket__combo">
            <img src="../../../assets/images/basket.svg" alt="Кошик" 
                class="basket__img">
            <span class="basket__number">{{ totalCount }}</span>
        </span>
        <span class="basket__uah">
            <span class="text-bold">{{ totalPrice }}</span>
            грн
        </span>

        

    </button>

    <div class="order" 
            *ngIf="basketIsOpen">
            <div class="order__wrapper">
                <div class="empty" *ngIf="basketIsEmpty">
                    <img src="../../../assets/images/cart-empty-img.svg" alt="Кошик порожній"
                        class="empty__img">
                    <p class="h5">Кошик порожній</p>
                    <button [routerLink]="[ '/product/rolls' ]" class="btn btn-blue empty__btn" 
                        (click)="toggleBasket()">
                        Перейти до каталогу
                    </button>
                </div>

                <table class="order__table"
                    *ngIf="!basketIsEmpty">
                    <tr *ngFor="let product of basket">
                        <td class="order__td">
                            <a [routerLink]="[ '/product/'+product.category.path, product.id ]">
                                <img [src]="product.imagePath" alt="product.name" class="order__img">
                            </a>
                        </td>
                        <td class="order__td">
                            <a [routerLink]="[ '/product/'+product.category.path, product.id ]"
                                class="order__link">
                                {{ product.name }}
                            </a>
                        </td>
                        <td class="order__td">
                            <div class="count">
                                <button class="count__btn"
                                    (click)="productCount(product, false)">
                                    -
                                </button>
                                <input type="text" class="count__input"
                                    [value]="product.count" readonly>
                                <button class="count__btn"
                                    (click)="productCount(product, true)">
                                    +
                                </button>
                            </div>
                        </td>
                        <td class="order__td">
                            <span class="order__price">
                                <b class="b">{{ product.price * product.count }}</b>
                                грн
                            </span>
                        </td>
                        <td class="order__td">
                            <button class="order__del" 
                                (click)="deleteFromBasket(product)">
                                <img src="../../../assets/images/trash.svg" alt="Видалити">
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <footer class="order__footer">
                <span class="order__sum">Сума: <b class="b">{{ totalPrice }}</b> грн</span>
                <button class="order__btn btn btn_white">Оформити замовлення</button>
            </footer>
        </div>

    <div class="overlay"
        *ngIf="basketIsOpen || (screenIs1200 && burgerIsOpen)">
    </div>

</header>
