<div class="container">
    <form class="auth" 
        [formGroup]="authForm" 
        (ngSubmit)="login()">
        <h5 class="h5">Вхід в кабінет</h5>
        <input type="email" placeholder="Ваш email"
            class="auth__input" 
            formControlName="email">
        <input type="password" placeholder="Пароль"
            class="auth__input" 
            formControlName="password">
        <button class="btn btn-blue" 
            [disabled]="authForm.invalid"
            type="submit">
            Увійти в кабінет
        </button>
    </form>
</div>
