<div class="container">
    
    <h1 class="h1-line">{{ nameOfPage }}</h1>

    <div class="tab" 
        *ngIf="nameOfPage === 'Роли'">
        <button class="tab__btn active" (click)="openTab($event)">Всі</button>
        <button class="tab__btn" (click)="openTab($event)">Філадельфія</button>
        <button class="tab__btn" (click)="openTab($event)">Каліфорнія</button>
        <button class="tab__btn" (click)="openTab($event)">Запечені</button>
        <button class="tab__btn" (click)="openTab($event)">Фірмові</button>
        <button class="tab__btn" (click)="openTab($event)">Преміум</button>
        <button class="tab__btn" (click)="openTab($event)">Макі</button>
    </div>

    <section class="wrapper">
        <div class="card border" *ngFor="let product of userProducts">
            <div class="card__img-block">
                <a [routerLink]="[ '/product/'+product.category.path, product.id ]">
                    <img [src]="product.imagePath" [alt]="product.name" class="card__img">
                </a>
            </div>
            <div class="card__text-block">
                <a [routerLink]="[ '/product/'+product.category.path, product.id ]">
                    <h4 class="h4">{{ product.name }}</h4>
                </a>
                <div class="card__row">
                    <p class="card__description">{{ product.description }}</p>
                    <span class="card__weight">{{ product.weight }}</span>
                </div>

                <div class="card__row">
                    <span class="card__price">
                        <b class="b">{{ product.price * product.count }}</b>
                         грн
                    </span>
                    <div class="card__btn count">
                        <button class="count__btn" 
                            (click)="productCount(product, false)">
                            -
                        </button>
                        <input type="text" class="count__input" 
                            [value]="product.count" readonly>
                        <button class="count__btn" 
                            (click)="productCount(product, true)">
                            +
                        </button>
                    </div>
                    <button class="card__btn btn btn-blue"
                        (click)="addToBasket(product)">Замовити</button>
                </div>
                
            </div>
        </div>
    </section>

</div>
