$color_main: #b5d8f7;
$blue: #5099db;
$white: #ffffff;
$black: #000000;
$green: #27ae60;
$yellow: #f2c94c;

$text_normal: #5a5a5a;
$text_bold: #252525;

$border_gray: #dcdcdc;

$color_overlay: #000000aa;

// $color_active: #5099db;
// $color_new: #59d600;
// $color_best: #dd3333;


$test-b: blue;
$test-v: violet;
$test-p: pink;
$test-bi: bisque;
$test-lg: lightgreen;
$test-lb: lightblue;
