<div class="home">

    <section class="banner">
        <div class="banner__block">
            <h2 class="banner__slogan">
                Ми - це доставка 
                <span class="banner__color">щастя</span>. <br>
                <span class="banner__color">Monosushi</span>
                 - Ми любимо, коли тобі смачно.
            </h2>
            <p class="banner__p">Найсмачніші сушики вже чекають на тебе. Не барись, а обирай свої улюблені позиції, і вже скоро вони будуть у тебе!</p>
            <a [routerLink]="[ '/' ]" 
                class="banner__btn btn btn-blue">Детальніше</a>
        </div>
    </section>

    <section class="info">
        <div class="info__block">
            <img src="../../../assets/images/mono-delivery.svg" alt="Доставка" class="info__img">
            <a class="info__btn btn" [routerLink]="[ '/delivery' ]">Зони доставки</a>
        </div>
        <div class="info__block">
            <img src="../../../assets/images/mono-supermen.svg" alt="Доставка" 
                class="info__img">
            <p class="info__text">
                Середній час доставки в зеленій зоні 
                <b>00:43:00</b>
            </p>
        </div>
        <div class="info__block">
            <img src="../../../assets/images/mono-bonus.svg" alt="Графік роботи" class="info__img">
            <p class="info__text">Наш графік роботи Працюємо з <b>11:00</b> до <b>22:30</b></p>
        </div>
    </section>

    <!-- <section class=" section">products</section> -->

    <section class="home__text section_text">
        <h2 class="h2">Доставка суші у Львові від "Monosushi"</h2>
        <h5 class="h5">Безкоштовна доставка суші у Львові Monosushi.</h5>
        <p class="text">
            Нам три роки. За цей час ми підкорили серця багатьох львів’ян. І це лише початок! Адже кожного місяця ми стараємось для Вас і стаємо кращими у кожному аспекті. Ми не ті, про кого кажуть: «Зіпсувались». Ми вкладаємо всю душу в нашу компанію та радіємо кожному Вашому позитивному відгуку!
        </p>

        <div class="details"
            [ngClass]="{'details_open': isOpenDetails}">
            <div class="details__block">
                <h5 class="h5">Чому ми?</h5>

                <ol class="ol">
                    <li class="ol__li">
                        <b class="b">Якість продуктів.</b>
                        Спробувавши десятки різних доставок ми зрозуміли, що запорукою та секретом смаку завжди є свіжі та якісні продукти. Саме тому ми з особливим трепетом та уважністю обираємо продукти, які поїдуть до нас на кухню.
                    </li>
                    <li class="ol__li">
                        <b class="b">Неймовірний смак.</b>
                        Так, ми Вас розуміємо. Важко в це повірити коли кожна доставка обіцяє «смачний продукт». Проте, ми використовуємо інгредієнти, які за якістю є на порядок вище тих, які використовуть наші конкуренти у своїх рецептах. Ми не економимо і використовуємо лише найбільш якісні та дорогі продукти для створення наших страв! Ну і чого тільки варті наші Запечені сирні суші! Вони однозначно є хедлайнерами нашого меню! Це те, чого Ви раніше ще точно не куштували!
                    </li>
                    <li class="ol__li">
                        <b class="b">Великі порції.</b>
                        Ми любимо смачно та ситно поїсти! Впевнені, Ви теж! Тому, ми з неабияким захватом підійшли до розробки грамажу наших ролів. Ми намагались віднайти ідеальний розмір аби наші моносуші були доволі ситними, але в той же час комфортними для споживання.
                            Також, кожного разу при приготуванні ролів ми використовуємо ваги аби страва відповідала грамажу вказаному на сайті!
                    </li>
                    <li class="ol__li">
                        <b class="b">Абсолютна чистота на кухні.</b>
                        При приготуванні страв ми притримуємось усіх санітарних норм та правил аби Ви могли бути на 100% впевнені в якості та безпечності страв.
                    </li>
                    <li class="ol__li">
                        <b class="b">Гарне упакування та уважність до деталей!</b>
                        Monosushi – були створені командою перфекціоністів, тому кожна деталь нашого упакування продумана до дрібниць
                    </li>
                </ol>

                <ul class="ul">
                    <li class="ul__li">
                        Фотографії продуктів несуть ознайомчий характер і можуть відрізнятися від оригіналу.
                    </li>
                    <li class="ul__li">
                        Замовлення вважається прийнятим з моменту опрацювання його оператором колл-центру дзвінком до клієнта.
                    </li>
                </ul>
            </div>

            <button type="button" class="details__btn line" 
            (click)="toggleDetails()">
                <span class="details__span" 
                    *ngIf="!isOpenDetails">
                        Дізнатись більше</span>
                <span class="details__span" 
                    *ngIf="isOpenDetails">
                        Згорнути</span>
            </button>

        </div>
    </section>

</div>
