<div class="container" *ngIf="currentDiscount">
    <nav class="breadcrumbs">
        <a [routerLink]="[ '' ]" class="breadcrumbs__link">Головна</a>
        <a [routerLink]="[ '/discount' ]" class="breadcrumbs__link">Акції</a>
        <span>{{ currentDiscount.name }}</span>
    </nav>

    <div class="wrapper">
        <div class="inner">
            <h1 class="h1-line">{{ currentDiscount.header }}</h1>
        </div>
        <ul class="ul">
            <li *ngFor="let item of list">{{ item }}</li>
        </ul>
    </div>
</div>