<ul class="nav">

    <li class="nav__item border">
        <a [routerLink]="[ '/discount' ]" routerLinkActive="active-page" 
            class="nav__link">
            <img src="../../../assets/images/nav-img-gift.svg" alt="Акції" 
                class="nav__img">
            <span class="nav__name">Акції</span>
        </a>
    </li>

    <li class="nav__item border">
        <a [routerLink]="[ '/product/rolls' ]" routerLinkActive="active-page" 
            class="nav__link">
            <img src="../../../assets/images/nav-img-rolls.svg" alt="Роли" 
                class="nav__img">
            <span class="nav__name">Роли</span>
        </a>
    </li>

    <li class="nav__item border">
        <a [routerLink]="[ '/product/sets' ]" routerLinkActive="active-page" 
            class="nav__link">
            <img src="../../../assets/images/nav-img-sets.svg" alt="Сети" 
                class="nav__img">
            <span class="nav__name">Сети</span>
        </a>
    </li>

    <li class="nav__item border">
        <a [routerLink]="[ '/product/drinks' ]" routerLinkActive="active-page" 
            class="nav__link">
            <img src="../../../assets/images/nav-img-drinks.svg" alt="Напої" 
                class="nav__img">
            <span class="nav__name">Напої</span>
        </a>
    </li>

    <li class="nav__item border">
        <a [routerLink]="[ '/product/sauses' ]" routerLinkActive="active-page" 
            class="nav__link">
            <img src="../../../assets/images/nav-img-sauses.svg" alt="Соуси" 
                class="nav__img">
            <span class="nav__name">Соуси</span>
        </a>
    </li>
    
</ul>
