<div class="container">
    <h1 class="h1-line">Доставка та оплата</h1>

    <section class="section zone">
        <div class="zone__block">
            <img src="../../../assets/images/mono-delivery.svg" 
                class="zone__img" alt="Доставка">
                <div class="zone__text">
                    <h3 class="zone__h3 h3 green">Зелена зона</h3>
                    <p class="zone__p text">
                        В межах зеленої зони ми доставляємо протягом 
                        <span class="green">1 год</span>.
                    </p>
                    <p class="zone__p text">
                        Мінімальна сума замовлення в цю зону становить 
                        <span class="green">300 грн</span>
                    </p>
                </div>
        </div>
        <div class="zone__block">
            <img src="../../../assets/images/mono-delivery.svg" 
                class="zone__img" alt="Доставка">
                <div class="zone__text">
                    <h3 class="zone__h3 h3 yellow">Жовта зона</h3>
                    <p class="zone__p text">
                        В межах жовтої зони ми доставляємо протягом 
                        <span class="yellow">1.5 год</span>.
                    </p>
                    <p class="zone__p text">
                        Мінімальна сума замовлення в цю зону становить 
                        <span class="yellow">400 грн</span>
                    </p>
                </div>
        </div>
    </section>

    <section class="section_text map">
        <div class="map__block">
            <iframe class="map__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41176.194096840685!2d23.984253152809607!3d49.83283403964082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7c09109a57%3A0x4223c517012378e2!2z0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1679998178164!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="map__text">
            <p class="text">
                Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість наших стандартів роботи забезпечує швидке і якісне виконання замовлень для наших гостей.
            </p>
            <br>
            <p class="text">
                Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час доставки.
            </p>
            <p class="text">
                Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1 год. В жовту зону, яка знаходиться значно далі – до 1,5 год.
            </p>
        </div>
    </section>

    <section class="section_text payment">
        <h2 class="payment__h2 h2">Оплата</h2>
        <div class="payment__row">
            <div class="payment__block">
                <div class="payment__for-img">
                    <img src="../../../assets/images/pay-info-img-3.svg" alt="Оплата готівкою">
                </div>
                <div class="payment__col">
                    <h4 class="payment__h4 h4">Оплата готівкою</h4>
                    <p class="payment__p">
                        Розраховуйтесь за свої улюблені сушики готівкою при отриманні.
                    </p>
                </div>
            </div>
            <div class="payment__block">
                <div class="payment__for-img">
                    <img src="../../../assets/images/pay-info-img-1.svg" alt="Безготівкова оплата">
                </div>
                <div class="payment__col">
                    <h4 class="payment__h4 h4">Безготівкова оплата</h4>
                    <p class="payment__p">
                        Розраховуйтесь за свої улюблені сушики онлайн або карткою при отриманні.
                    </p>
                </div>
            </div>
        </div>
        <div class="text">
            <p>Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж розрахунок карткою.</p>
            <br>
            <p>Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж повідомте про це оператора по телефону.</p>
            <br>
            <p>Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного гостя. Ми щодня розвиваємось, щоб почути лише три слова «Моносуші – це любов».</p>
        </div>
    </section>

</div>
